{% extends 'afterlogin/base1.html' %} {% block style %}
<style>
    h1 {
        text-align: center;
        color: darkcyan;
    }
    
    #main-card-container {
        margin-left: 5%;
        margin-right: 5%;
        width: 85%;
    }
    
    #main-card-container h6 {
        color: cadetblue;
    }
    
    #main-card-container form {
        border: 1px solid cadetblue;
        padding: 5px;
        background-color: cadetblue;
        border-radius: 10px;
    }
    
    #main-card-container form label {
        font-size: large;
    }
</style>
{% endblock %} {% block content %}
<h1>Will be Available soon!</h1>
<div id="main-card-container">
    <h5>Following : {{follower_no}}</h5>
    {% for f in followers_list %}
    <form method="post" action="{% url 'followpost' %}">
        {% csrf_token %}
        <input type="hidden" value="{{ f.uname }}" name="uname">
        <label>{{f.name}}:</label>
        <button>View the Posts</button>
    </form>
    <br> {% endfor %}
</div>
{% endblock %}