{% extends 'afterlogin/base1.html' %} {% block style %}
<style>
    .main1 {
        margin: 1%;
        margin-left: 1%;
        margin-right: 1%;
        display: flex;
        padding: 1%;
    }
    
    .first-column {
        width: 40%;
        margin-right: 1%;
    }
    
    .first-column-one {
        background-color: white;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid gray;
    }
    
    .first-column-one div {
        display: flex;
        justify-content: space-evenly;
    }

    .first-column-one img {
        width: 200px;
        height: 200px;
        border-radius: 40px;
    }
    
    .first-column-two {
        border: 1px solid gray;
        margin-top: 2%;
        border-radius: 10px;
        background-color: white;
        padding: 5px;
    }
    
    .first-column-two div {
        display: flex;
        justify-content: space-between;
    }
    
    .second-column {
        padding: 5px;
        width: 60%;
        border: 1px solid cadetblue;
        border-radius: 10px;
        text-align: center;
    }
    
    .second-column div {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    #button-edit {
        text-align: center;
    }
    
    #first1 {
        text-align: center;
        color: darkcyan;
    }
</style>
{% endblock %} {% block content %}
<div id="first1">
    <h1>Searched for {{person.uname}}</h1>
</div>

<div class="main1">

    <div class="first-column">
        <div class="first-column-one">
            <img src="{{person.image.url}}">
            <h4>{{person.name}}</h4>

                {% if follower %}
                <form method="post" action="{% url 'unfollow' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{person.uname}}" name="person_to_follow">
                    <p>Following : {{ following }}</p>        
                    <button class="btn btn-dark">UnFollow</button>
                </form>
                    
                {% else %}
                <form method="post" action="{% url 'follow' %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{person.uname}}" name="person_to_follow">    
                    <p>Following : {{ following }}</p>
                    <button class="btn btn-dark">Follow</button>
                </form>
                {% endif %}
                
        </div>
        <div class="first-column-two">
            <div>
                <b>Website</b>
                <a href="{{person.website}}">
                    <p>{{person.website}}</p>
                </a>
            </div>
            <div>
                <b>github</b>
                <a href="{{person.github}}">
                    <p>{{person.github}}</p>
                </a>
            </div>
            <div>
                <b>LinkedIn</b>
                <a href="{{person.linkedin}}">
                    <p>{{person.linkedin}}</p>
                </a>
            </div>
            <div>
                <b>Instagram</b>
                <a href="{{person.instagram}}">
                    <p>{{person.instagram}}</p>
                </a>
            </div>
            <div>
                <b>Twitter</b>
                <a href="{{person.twiiter}}">
                    <p>{{person.twiiter}}</p>
                </a>
            </div>
        </div>
    </div>
    <div class="second-column">
        <div>
            <label><b>Full Name:</b></label>
            <p>{{person.name}}</p>
        </div>
        <div>
            <label><b>UserName:</b></label>
            <p>{{person.uname}}</p>
        </div>
        <div>
            <label><b>Email:</b></label>
            <p>{{person.email}}</p>
        </div>
        <div>
            <label><b>Department:</b></label>
            <p>{{person.department}}</p>
        </div>
        <div>
            <label><b>Year:</b></label>
            <p>{{person.year_studying_in}}</p>
        </div>
        <div>
            <label><b>College:</b></label>
            <p>{{person.college}}</p>
        </div>
        <br>
    </div>
</div>
{% endblock %}